.ttl {
  color: rgb(7, 7, 167);
  font-size: 30px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

li a {
  text-decoration: none;
  color: rgb(7, 7, 167);
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  position: relative;
  top: -45px;
}

.about {
  position: relative;
}

.about__img {
  margin: 0 0 0 auto;
  width: 45%;
  z-index: 20;
  position: absolute;
  right: 0;
  top: 150px;
}

.box {
  margin: auto;
  width: 1300px;
  height: 200px;
  background-color: rgb(7, 7, 167);
  position: absolute;
  top: 520px;
  z-index: 10;
}

.subttl {
  position: absolute;
  top: 370px;
  font-weight: lighter;
  font-size: 70px;
}
